<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fdgfdgdfgsdg.gfhfdhgdf" version="1.0" android-versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Volcano Global</name>
    <content src="index.htm" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
	<access origin="*" />
	<allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<icon src="icon/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
		<preference name="Fullscreen" value="false" />
		<preference name="BackgroundColor" value="0xFF000000"/>
		<preference name="loadUrlTimeoutValue" value="700000" />
		<preference name="android-targetSdkVersion" value="35" />
		<preference name="AndroidWindowSplashScreenBackground" value="#000000" />
        <preference name="AutoHideSplashScreen" value="true" />
		<preference name="FadeSplashScreen" value="true"/>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="icon/fsda.png" />
		<preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
</widget>